<div id="mySidenav" class="sidenav">
    <a href="https://www.facebook.com/RevatureIndia" id="about" target="_blank"><img src='assets/images/facebook.png' width="15px" height="15px">facebook</a>
    <a href="https://twitter.com/WeAreRevature" id="blog" target="_blank"><img src='assets/images/twitter.png' width="15px" height="15px"> Twitter</a>
    <a href="https://www.linkedin.com/company/revature" id="projects" target="_blank"><img src='assets/images/linkedin.jpg' width="15px" height="15px"> Linkedin</a>
  </div>
      <h5 style="color: blue;" >
      <div class="container">
    <div class="row">
      <div class="col-sm">
      <div  id="welcome"></div></div>
       <div class="col-sm">
      <div align="right" id="todaysDate"></div></div></div></div></h5>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="vertical-menu">
            <a href="" onclick="viewGrade()">View/Upgrade grade range</a>
            <a href="" onclick="viewTop()">View topper Score</a>
            <a href="" onclick="viewBySubjects()">Search by subject ID/Name</a>
            <a href="AddNewEmployee.jsp" >Add Employee</a>
            <a href="" onclick="viewEmployees()">View all Employee's</a>
            <a href="AddNewStudent.jsp" >Add Student</a>
            <a href="" onclick="viewStudents()">View all students</a>
             <a href="" onclick="viewbyid()">View student Marks</a>
               <a href="" onclick="viewbygrade()">View Marks By Grade</a>
            <a href="" onclick="viewallmarks2()">View all students Marks</a>
            <div id="output"></div>
           </div>
      </div>
       <div class="col-sm" id="viewdetails"><br><br>
      </div>   
      </div>
  </div>