<div class="container"><div id="header"></div>
	<h1 align=center>
        <img src="assets/images/contact-us-banner.jpg" height=300 width=1100></h1>
	<h3 align=center>
		<b>we want to hear from you</b>
	</h3>
	<br>
	<h5 align=center>
		<i>Have a question or an exciting new idea? Let's talk</i>
	</h5>
	<table class="table table-hover table-striped" width="100">
		<tr>
			<td align="center">Contact Us</td>
		</tr>
		<tr>
			<td align=center>General Email: info@revature.in</td>
		</tr>
		<tr>
			<td align=center>Academic Partners:universities@revature.in</td>
		</tr>
		<tr>
			<td align=center>Existing Users:support@revature.com</td>
		</tr>
		<tr>
			<td align=center>Chennai - India</td>
		</tr>
	</table></div>